/*Avatar*/
.form__img {
    position: relative;
    width: 100%;
    height: 400px;
    overflow: hidden;
    background-color: #2b2b31;
    margin-bottom: 20px;
    border-radius: 4px;
  }
/*---------------------*/
  .form__img label {
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 2;
    cursor: pointer;
    margin: 0;
    font-weight: normal;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    color: rgba(255,255,255,0.5);
    transition: 0.4s ease;
    border: 1px solid transparent;
    border-radius: 4px;
  }
  .form__img label:hover {
    color: #fff;
    border-color: #ff55a5;
  }
  .form__img img {
    position: absolute;
    z-index: 1;
    top: -100px;
    right: -100px;
    bottom: -100px;
    left: -100px;
    margin: auto;
    min-width: 100%;
  }

  /*Form video*/
  .form__video {
    position: relative;
    width: 100%;
    height: 50px;
    margin-bottom: 20px;
    overflow: hidden;
  }
  .form__video input {
    position: absolute;
    left: -9999px;
    opacity: 0;
    z-index: 1;
  }
  .form__video label {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    z-index: 2;
    height: 50px;
    color: rgba(255,255,255,0.5);
    padding: 0 50px 0 20px;
    background-color: #2b2b31;
    margin: 0;
    width: 100%;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    cursor: pointer;
    transition: 0.4s ease;
    border: 1px solid transparent;
    border-radius: 4px;
  }
  .form__video label:before {
    content: '';
    pointer-events: none;
    position: absolute;
    right: 20px;
    top: 0;
    height: 50px;
    width: 20px;
    background: url("../img/clapper-board.svg") no-repeat center;
    background-size: 20px auto;
    opacity: 0.5;
    transition: 0.4s ease;
  }
  .form__video label:hover {
    color: #fff;
    border-color: #ff55a5;
  }
  .form__video label:hover:before {
    opacity: 1;
  }

  /*Form image Banner*/
  .form__gallery {
    position: relative;
    width: 100%;
    height: 50px;
    margin-bottom: 20px;
    overflow: hidden;
  }
  .form__gallery input {
    position: absolute;
    left: -9999px;
    opacity: 0;
    z-index: 1;
  }
  .form__gallery label {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    z-index: 2;
    height: 50px;
    color: rgba(255,255,255,0.5);
    padding: 0 50px 0 20px;
    background-color: #2b2b31;
    margin: 0;
    width: 100%;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    cursor: pointer;
    transition: 0.4s ease;
    border: 1px solid transparent;
    border-radius: 4px;
  }
  .form__gallery label:before {
    content: '';
    pointer-events: none;
    position: absolute;
    right: 20px;
    top: 0;
    height: 50px;
    width: 20px;
    background: url("../img/images.svg") no-repeat center;
    background-size: 20px auto;
    opacity: 0.5;
    transition: 0.4s ease;
  }
  .form__gallery label:hover {
    color: #fff;
    border-color: #ff55a5;
  }
  .form__gallery label:hover:before {
    opacity: 1;
  }